#lol {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.title-image {
    width: 100%;
}

.intro {
    padding: 4% 10%;
    color: #1e1e1e;
    text-align: center;
}

.intro-text {
    padding: 15% 0;
}

.about {
    padding: 4% 20%;
    background-color: #1e1e1e;
    color: #e3e3e3;
    text-align: center;
}

.contact {
    background-color: #1e1e1e;
    padding: 2% 20%;
    text-align: center;
    color: #e3e3e3;
}

.contact-text {
    padding: 2% 0;
}

h2, h3, h5 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-family: 'Josefin Slab', serif;
}
